.nav {
	background-color: #F0B27A;
	padding: 20px;
	list-style-type: none;
	text-align: center;
}
	.nav li {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
    
}

#travelTable{
	width:100%;

}
#technologyTable{
	width:100%;
}
#politicsTable{
	width:100%;
}
}
#lifestyleTable{
	width:100%;
}

#fashionTable{
	width:100%;
}
.name{
	font-size: 25px;
	color:white;
}
.nav{
	font-family:cursive;
	color:black;
}
* {box-sizing: border-box}


  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
    
  background-color: #f44336;
}


.cancelbtn {
  
  width: 30%;

}
.signup{
    width:30%;
    float:right;
    margin-left:5px;
}



.container {
  padding: 16px;
}


.modal {
  display: none;
  position: fixed; 
  z-index:1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
    
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
    
   
}




