*{
    margin:0 auto;
    padding:0 auto;
}

header{



background:linear-gradient(rgba(5, 2, 2, 0.77),rgba(11, 5, 5, 0)),url(hero2.jpg);
height:100vh;
margin-bottom:0px;
    

}
h2{
    color:#fff;
    text-align: center;
    font-size:40px;
    margin-top:80px;
    
}    


.hero-text-box{

    text-align:center;

}
.hero-text-box h2{
   
    text-align:center;
    color:#ffffff;
    font-size:40px;

    margin-top:30px;
     

}
header ul , li{
    
     
    font-size:25px;
    font-weight:100%;
    display:inline-block;
         text-decoration:none;
    list-style:none;
    padding:15px;
    margin-right:45px;
    margin-top:1px;
     
    
    
}
li
{
   margin-right:70px;
}
a:link,
a:visited{
    color:#fff;
    text-decoration:none;
    padding:25px 2px 5px 2px; 
    font-size:23px;
    
}
a:hover,
a:active{
   
 border-bottom:2px solid #ff6c00;
transition:border-bottom 0.2s;
    padding-bottom:5px;
    padding-right:2px;
    
}

* {box-sizing: border-box}


  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
    
  background-color: #f44336;
}


.cancelbtn {
  
  width: 30%;

}
.signup{
    width:30%;
    float:right;
    margin-left:5px;
}



.container {
  padding: 16px;
}


.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
    
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
    
   
}





hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.mod{
    
     display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
    
}
.mod-content{
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
   
}


p{
    font-size:20px;
    text-decoration:none;
    text-decoration-style: none;
    color:#000000;
    
   
}
#copy{
    float:right;
    
}
#img{
    width:400px;
    float:right;
    margin-right:250px;
    margin-bottom:40px;
}
#copy2{
    margin-top:2px;
}
#quotes{
    margin-top:40px;
    color:#fff;
    text-align:center;
    margin-top:40px;
    font-size:40px;
}
#author{
float:right;
    font-size:40px;
    color:#fff;
    margin-right:400px;
}

